name: Update TryHackMe Badge
permissions:
  contents: write
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  update-badge:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        persist-credentials: true
        fetch-depth: 0
    - name: Configure Git Identity
      run: |
        git config --global user.name "GitHub Actions Bot"
        git config --global user.email "actions@github.com"
    - name: Fetch TryHackMe Badge
      uses: DhanushNehru/tryhackme-badge-action-workflow@v1.0
      continue-on-error: true
      with:
        image_path: './assets/tryhackme-badge.png'
        username: 'dwbruijn'
        user_id: '6435272'
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Commit and push badge if changed
      env:
        COMMIT_MESSAGE: "Updated THM profile badge"
      run: |
        git add ./assets/tryhackme-badge.png || true
        # If there are no staged changes, exit successfully
        if git diff --cached --quiet; then
          echo "No changes to commit"
          exit 0
        fi
        git commit -m "$COMMIT_MESSAGE"
        # Push current HEAD back to the branch that triggered the workflow
        git push origin "HEAD:${{ github.ref_name }}"