name: TryHackMe Update Badge

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  tryhackme-badge-update:
    name: Update this repo's tryhackme badge with the latest tryhackme image badge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dwBruijn/thm-badge-workflow@main
        with:
          username: "dwbruijn"
          user_public_id: "6435272"
          image_path: "./assets/thm_badge.png"
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}